.header {
  background-color: #f9f8d6;
  position: fixed;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.title {
  font-size: 2em;
}

/* For the smaller, gray middle word */
.titleSub {
  font-size: 0.9em;
  color: gray;
}
